{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>adventures in optimization</h1>
    <p>The charming adventures of <a href="mailto:ryanjoneil@gmail.com">an analyst</a> and his solver.</p>
  </div>
</div>

<div class="container">
  <div class="content-outer">
    <!--div class="content-header">
      Blog Posts:
    </div-->

    <div class="content-inner">
      <h2>Programming Posts</h2>

      <ul>
      {% for post in posts %}
        {% ifequal post.category "Programming" %}
        <li>
            <p>
              <a href='{{ post.path }}'>{{ post.title }}</a>
              {% if post.lang %}({% ifequal post.lang 'R' %}<a href="blog-r.html">R</a>{% else %}{% ifequal post.lang 'Python' %}<a href="blog-python.html">Python</a>{% else %}{{ post.lang }}{% endifequal %}{% endifequal %}){% endif %}
              {% if post.description %}<br/>{{ post.description }}{% endif %}
            </p>
        </li>
        {% endifequal %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
