{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>adventures in optimization</h1>
    <p>The charming adventures of a data scientist and his solver.</p>
  </div>
</div>

<div class="container">
  <div class="content-outer">
    <!--div class="content-header">
      Blog Posts:
    </div-->

    <div class="content-inner">
      <h2>posts by date</h2>

      <ul>
        {% for post in posts %}
          <li><a href='{{ post.path }}'>{{ post.date|date:"F j, Y"}}: {{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
