{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h3>Hi, I'm Ryan.</h3>

    <p><img class="img-responsive pull-left ryan-image" src="static/images/ryan.jpg" /></p>

    <p>I use data and models to make complex decisions.</p>

    <p>In <a href="https://www.linkedin.com/in/ryan-j-o-neil-59b6ab83">my work</a>, I direct <a href="https://grubhub.com">Grubhub</a>'s Decision Engineering department, which builds strategic, tactical, and operational decision services enabling <a href="https://bytes.grubhub.com/decisions-are-first-class-citizens-9994fd8fe802">real-time meal delivery at enormous scale</a>, and the algorithmic and quantitative components that power them.</p>

    <p>Before that, I created successful dynamic vehicle routing systems for on-demand delivery at Zoomer, models and simulations to help large federal agencies make better decisions at <a href="https://www.mitre.org/">MITRE</a>, and data journalism projects in <a href="https://www.washingtonpost.com/">The Washington Post</a> newsroom.</p>

    <p>I've done this while finishing bachelors and masters degrees in Computer Science and Operations Research, respectively, and finally a Ph.D. in <a href="https://seor.gmu.edu/">Systems Engineering &amp; Operations Research</a> by night. I <a href="https://drive.google.com/open?id=1dFfrDUOR1pSAiPNaH9EGlh__hMPvYVW9xBWJAm-x4-M">recently defended</a> my dissertation, <a href="https://drive.google.com/open?id=14RQnKrFpY1hIEVXlmDfzncjGzTTTLlPi">Exact Methods for Solving Single-Vehicle Pickup and Delivery Problems in Real Time</a>. My academic research applies hybrid optimization techniques to pickup and delivery problems for real-time decision making. I'm also interested in applications of optimization to machine learning, <a href="http://paginas.fe.up.pt/~esicup/">cutting and packing problems</a>, computational optimization, and modeling languages.

   	<p>Here are a few things I've done lately.</p>

    <div style="clear: both;" />

    <h3>papers</h3>
    <ul>
        <li>
            <a href="http://www.optimization-online.org/DB_HTML/2017/12/6370.html">Exact Methods for Solving Traveling Salesman Problems with Pickup and Delivery in Real Time</a> examines exact methods for solving TSPPDs with consolidation in real-time applications. It considers enumerative, Mixed Integer Programming, Constraint Programming, and hybrid optimization approaches under various time budgets. <span class="tidbit">[<a href="http://www.optimization-online.org/DB_FILE/2017/12/6370.pdf">preprint</a>]</span>
        </li>
        <li>
            <a href="http://www.optimization-online.org/DB_HTML/2018/10/6838.html">Integer Models for the Asymmetric Traveling Salesman Problem with Pickup and Delivery</a> proposes a new ATSPPD model, new valid inequalities for the Sarin-Sherali-Bhootra ATSPPD, and studies the impact of relaxing complicating constraints in these. <span class="tidbit">[<a href="http://www.optimization-online.org/DB_FILE/2018/10/6838.pdf">preprint</a>]</span>
        </li>
        <li>
            <a href="http://www.optimization-online.org/DB_HTML/2018/10/6853.html">Decision Diagrams for Solving Traveling Salesman Problems with Pickup and Delivery in Real Time</a> explores the use of Multivalued Decision Diagrams and Assignment Problem inference duals for real-time optimization of TSPPDs. <span class="tidbit">[<a href="http://www.optimization-online.org/DB_FILE/2018/10/6853.pdf">preprint</a>]</span>
        </li>
    </ul>

   	<h3>talks</h3>
    <ul>
        <li>
            <a href="https://pydata.org/seattle2017/">PyData Seattle 2017</a>: Practical Optimization for Stats Nerds <span class="tidbit">[<a href="https://pydata.org/seattle2017/schedule/presentation/81/">abstract</a> | <a href="http://nbviewer.jupyter.org/github/ryanjoneil/talks/blob/master/2017/07/pydata-seattle/practical-optimization-for-stats-nerds.slides.html">slides</a> | <a href="https://youtu.be/n9Fz74pFiA4?list=PLGVZCDnMOq0rxoq9Nx0B4tqtr891vaCn7">video</a>]</span>
        </li>
    	<li>
            <a href="https://www.meetup.com/Data-Science-DC/events/238107178/">Data Science DC</a>: Practical Optimization for Stats Nerds <span class="tidbit">[<a href="talks/2017/03/data-science-dc/practical-optimization-for-stats-nerds.slides.html">slides</a>]</span>
        </li>
        <li>
			<a href="http://nyc2015.pydata.org">PyData NYC 2015</a>:
			Optimize your Docker Infrastructure with Python
			<span class="tidbit">[<a href="http://nyc2015.pydata.org/schedule/presentation/104/">abstract</a> |
			<a href="http://nbviewer.ipython.org/github/ryanjoneil/talks/blob/master/2015/11/pydata-nyc/optimize-your-docker-infrastructure-with-python.ipynb">slides</a> |
			<a href="https://www.youtube.com/watch?v=l6NjecDJFb8">video</a>]</span>
    	</li>
    	<li>
			<a href="http://ifors2014.org/">IFORS 2014</a>:
			A MIP-Based Dual Bounding Technique for the Irregular Nesting Problem
			<span class="tidbit">[<a href="https://www.euro-online.org/conf/ifors2014/treat_abstract?paperid=13132">abstract</a> |
			<a href="static/misc/2014-ifors-slides.pdf">slides</a>]</span>
    	</li>
        <li>
            <a href="http://pyvideo.org/events/pycon-us-2010.html">PyCon 2010</a>:
            Optimal Resource Allocation using Python
            <span class="tidbit">[<a href="http://pyvideo.org/pycon-us-2010/pycon-2010--optimal-resource-allocation-using-pyt.html">video</a>]</span>
        </li>
    </ul>

    <h3>projects</h3>
    <ul>
        <li>
            <a href="https://github.com/ryanjoneil/tsppd-hybrid">TSPPD Hybrid Optimization Code</a> and <a href="https://github.com/ryanjoneil/tsppd-dd">TSPPD Decision Diagram Code</a> are both used in my dissertation. The former contains C++14 code for hybrid CP and MIP models for solving TSPPDs. The latter uses a hybridized Decision Diagram implementation with an Assignment Problem inference dual inside a branch-and-bound.
        </li>
        <li>
            <a href="https://github.com/grubhub/tsppdlib">TSPPDlib</a> is a standard test set for TSPPDs. The instances are based on observed meal delivery data at Grubhub.
        </li>
        <li>
            <a href="https://github.com/ryanjoneil/ap.cpp">ap.cpp</a> is an incremental primal-dual assignment problem solver written in C++. It can vastly improve propagation in hybrid optimization models that use AP relaxations. I use it within custom propagators in <a href="http://www.gecode.org/">Gecode</a> and in Decision Diagrams for solving the Traveling Salesman Problem with side constraints. <a href="https://github.com/ryanjoneil/ap">ap</a> is a Go version of the same thing.
        </li>
		<li>
			The <a href="https://github.com/ryanjoneil/rams">Ruby Algebraic Modeling System</a> is a simple modeling tool for formulating and solving MILPs in Ruby.
		</li>
    	<li>
    		<a href="/blog.html">adventures in optimization</a> is a blog about modeling, optimization, and computer programming.
    	</li>
    	<!--li>
    		<a href="https://github.com/ryanjoneil/decision-models-for-data-science">Decision Models for Data Science</a>
    		is a work in progress about making decisions using predictive and optimization models. It explores linear, logical, and stochastic models for solving complex problems. It uses data to understand the structure and uncertainty inherent to such systems.
    	</li-->
    </ul>
    </div>
</div>

{% endblock %}
