backports.ssl-match-hostname==3.4.0.2
boto==2.38.0
Cactus==3.1.0
certifi==2015.9.6.2
colorama==0.3.3
colorlog==2.6.0
Django==1.6.11
django-markwhat==1.4
keyring==5.4
markdown2==2.3.0
six==1.9.0
tornado==4.2.1
